1\. LISTAAR Oszlop

In [42]:
SELECT COUNT(LISTAAR) AS 'sorok száma',
       COUNT(CASE WHEN LISTAAR IS NULL THEN 1 END) AS 'NULL sorok száma',
       COUNT(CASE WHEN LISTAAR = 0 THEN 1 END) AS 'Nulla értékű sorok száma',
       MIN(LISTAAR) AS 'minimum',
       MAX(LISTAAR) AS 'maximum',
       MAX(LISTAAR) - MIN(LISTAAR) AS 'min max különbözet',
       AVG(LISTAAR) AS 'átlag',
       STDEV(LISTAAR) AS 'szórás'
       
FROM Termek

sorok száma,NULL sorok száma,Nulla értékű sorok száma,minimum,maximum,min max különbözet,átlag,szórás
551,0,1,0,46000,46000,"786,2813067150635","3602,4811630060694"

2\. KESZLET Oszlop

In [46]:
SELECT COUNT(KESZLET) AS 'sorok száma',
       COUNT(CASE WHEN KESZLET IS NULL THEN 1 END) AS 'NULL sorok száma',
       COUNT(CASE WHEN KESZLET = 0 THEN 1 END) AS 'Nulla értékű sorok száma',
       MIN(KESZLET) AS 'minimum',
       MAX(KESZLET) AS 'maximum',
       MAX(KESZLET) - MIN(KESZLET) AS 'min max különbözet',
       AVG(KESZLET) AS 'átlag',
       STDEV(KESZLET) AS 'szórás'
       

FROM Termek

sorok száma,NULL sorok száma,Nulla értékű sorok száma,minimum,maximum,min max különbözet,átlag,szórás
551,0,2,0,50000,50000,"1585,9909255898367","4604,3876191291965"

3\. MEGNEVEZES Oszlop

In [70]:
SELECT COUNT(MEGNEVEZES) AS 'sorok száma',
       COUNT(CASE WHEN MEGNEVEZES IS NULL THEN 1 END) AS  'NULL sorok száma',
       MIN(LEN(MEGNEVEZES)) AS 'legrövidebb',
       MAX(LEN(MEGNEVEZES)) AS 'leghosszabb'
FROM Termek

sorok száma,NULL sorok száma,legrövidebb,leghosszabb
551,0,3,40

In [87]:
SELECT COUNT(*) AS 'Töbször szereplő megnevezések száma'
FROM (SELECT MEGNEVEZES AS 'NEV', 
        COUNT(*) AS 'DB'
        FROM Termek
        GROUP BY MEGNEVEZES
        HAVING COUNT(*)>1) rows

Töbször szereplő megnevezések száma
8

4\. FELVITEL Oszlop

In [88]:
SELECT COUNT(FElVITEL) AS 'sorok száma',
       COUNT(CASE WHEN FElVITEL IS NULL THEN 1 END) AS 'NULL sorok száma',
       MIN(FElVITEL) AS 'legkorábbi datum',
       MAX(FElVITEL) AS 'legkesőbbi datum',
       DATEDIFF(month,MIN(FElVITEL),MAX(FElVITEL)) AS 'időintervalum hónapban'
FROM Termek

sorok száma,NULL sorok száma,legkorábbi datum,legkesőbbi datum,időintervalum hónapban
551,0,2016-07-01,2016-12-11,5